.navbar__search {
    display: inline-block;
    width: 100%;
    padding: 0 42px 0 8px;

    button,
    button:hover,
    button:active,
    button:focus {
      color: var(--text-color);
      background: transparent;
      border: 1px solid var(--neutral-7);
      border-color: var(--neutral-7) ;
      border-radius: 4px;
      width: 100%;
      height: 26px;
      padding: 0 8px;
      font-size: 12px;;
    }

    button:hover {
      border-color: var(--link-active);
      transition: ease-in-out 0.2s border-color;
    }

    svg, svg:hover {
      display: block;
      color: var(--text-color);
      opacity: 1;
    }
  }

  .menu__wrapper {
    >div {
        padding-top: 0 !important;
    }
  }