.author_card {
    display: flex;
    justify-content: flex-end;
}

.author_card .discord a {
    color: var(--ifm-color-primary-darker);
    font-weight: bold;
}

.author_card a {
    flex-shrink: 0;
}

.author_card a img {
    transition: transform 0.3s, opacity 0.3s;
    width: 60px;
    height: 60px;
}

.author_card a img:hover {
    opacity: 0.9;
    transform: scale(1.03);
}

.author_card span,
.author_card a {
    font-size: 16px;
    line-height: 1.4;
}

.author_card>div {
    /* display: flex;
    gap: 1rem; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    height: auto;
    position: relative;
    padding: 20px;
    margin: 40px 5px;
    border-radius: 0px;
    max-width: 420px;
    width: 100%;
    border: 1px solid var(--ifm-color-primary-darker);
}

.author_card>div>div {
    display: flex;
    flex-flow: column;
}

.author_card img {
    display: block;
    overflow: hidden;
    width: auto;
    height: 100%;
    align-self: center;
}

.author_card .title {
    flex-grow: 1;
}

.author_card .name {
    font: bold var(--ifm-h4-font-size) / var(--ifm-heading-line-height) var(--ifm-font-family-base);
}


@media (min-width: 768px) {
    .author_card>div {
        height: 120px;
    }

    .author_card a img {
        width: 80px;
        height: 80px;
    }
}