/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.whitepaperLink,
.whitepaperLink:hover {
  display: inline-block;
  padding: 0px 1rem;

  border-radius: 4px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  text-align: center;

  font-weight: 400;
  line-height: 2rem;
  text-decoration: none;
}

.navbar__inner {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 996px) {
    .whitepaperLink {
      display: none;
    }

    [class^="navbar__search"] {
      display: none;
    }

    [class="navbar__logo"] {
      margin-left: 1rem;
    }
  }
}

.navbar__items {
  a, a:hover {
    font-weight: 300;
    svg {
      display: none;
    }
  }
}

.navbar__search {
  display: inline-block;

  button, button:hover {
    color: var(--text-color);
    background: transparent;
    border: 1px solid transparent;
    border-color: transparent;
    border-radius: 4px;
  }

  button:hover {
    border-color: var(--link-active);
    transition: ease-in-out 0.2s border-color;
  }

  svg, svg:hover {
    display: block;
    color: var(--text-color);
    opacity: 1;
  }
}