.navbar {
  box-shadow: none;
  padding: 3rem 0.5rem;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.DocSearch-Modal .DocSearch-Footer,
.DocSearch .DocSearch-Button-Keys {
  display: none;
}

.DocSearch-Button,
.DocSearch-Button:hover {
  height: 34px;
  border-radius: 0px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background: var(--background-color);
  box-shadow: none !important;

  .DocSearch-Search-Icon {
    color: var(--text-color);
  }
}

@media (max-width: 996px) {
  .navbar {
    padding: 1.5rem 1rem;
  }

  .navbar__toggle + .navbar__brand {
    display: none;
  }

  .navbar__toggle {
    margin-right: 0;
  }

  .navbar__items > div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
  }

  .navbar__items [class^="searchBox_"] {
    position: static;
  }
}

@media (min-width: 996px) {
  .navbar__items {
    justify-content: center;
    height: 100%;
    gap: 18px;
  }

  .navbar__items div:nth-child(1) {
    display: flex;
    align-items: inherit;
  }

  .navbar__items .DocSearch-Button {
    justify-content: flex-start;
  }
}
